/* mystyle.css */
@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
#header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px; /* Remove extra semicolon here */
    border: 1px solid #828282;
    background-color: #ffffff; /* Add a background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}